{% extends '../base.html' %}
{% load static %}
{% block title %} Reset Password {% endblock title %}
{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="page-breadcrumb">
                  <h3>通過電子郵件重置您的密碼</h3>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <form class="contact-form" novalidate method="POST">
                {% csrf_token %}
                  <div class="row">
                    {% if messages %}
                    <div class="col-lg-12 py-2">
                      {% include '../message.html' %}
                    </div>
                    {% endif %}
                      <div class="col-lg-12 py-2">
                        <input type="email" name="email" placeholder="輸入你的電子郵件">
                        {{ form.email.errors}}
                      </div>
                      <div class="col-lg-12 text-right">
                        <p>
                          <button type="submit" class="btn-block">到你的信箱查看訊息</button>
                        </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Contact Section End -->
{% endblock content %}