{% extends '../base.html' %}
{% load static %}
{% block title %} Password Reset Done {% endblock title %}
{% block content %}
<section class="page-add">
  <div class="container">
    <div class="row justify-content-center py-4">
      <div class="col-md-12">
        <h4 class="text-monospace text-muted mb-4">密碼重置鏈接已發送</h4>
        <hr>
      </div>
      <div class="col-md-12">
        <p class="lead text-dark">
          密碼重置鏈接發送成功
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}