{% extends 'base.html' %}
{% load static %}
{% block title %}工商手冊{% endblock title %}

{% block content %}

<div style="display: flex;justify-content: center;align-items: center;">
  <div style="width: 80%;">
    <div>
      <hr style="border-width: 3px;border-color: #cccccc;">
      <div class="row">
        <div style="font-size:40pt;font-weight: bold;width: 50%;">
          | 進口高級工商手冊  |
        </div>
      </div>
      <div class="row">
        <div>
          <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/1671861543_orig.jpg" alt="">
        </div>
      </div>
      <div class="row">    
        <div style="font-size:16pt;margin-left:10px;">
          <div style="color:red;font-weight: bold;">購滿100本即可免費燙金</div>
        </div>    
      </div>

      <div>
        <div class="row">
          <div style="font-size:40pt;font-weight: bold;width: 50%;">
            | A.傳統合成皮記事本 |
          </div>
        </div>

        <div class="row">  
          <div style="font-size:16pt;margin-left:10px;">
            <div>平裝本-48K<span style="color:red;"> HY-P48A (紅、黑、藍)</span></div>
            <div>&emsp; &emsp; &emsp;25K<span style="color:red;"> HY-P25A (紅、黑、藍)  </span></div>
            <div>&emsp; &emsp; &emsp;16K<span style="color:red;"> HY-P16A (紅、黑、藍)</span></div>
          </div>     
        </div>
        <div class="row" style="margin-bottom: 30px;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/03_orig.jpg" alt="">
          </div>
        </div>
        
        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '60' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48A(紅色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '61' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48A(黑色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '62' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48A(藍色)</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '63' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25A(紅色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '64' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25A(黑色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '65' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25A(藍色)</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '66' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16A(紅色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '67' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16A(黑色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '68' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16A(藍色)</button>
            </form>
          </div>
        </div>
        <hr style="border-width: 3px;border-color: #dddddd;">
      </div>
      

      <div>
        <div class="row">
          <div style="font-size:40pt;font-weight: bold;width: 50%;">
            | B. 英倫格紋針車皮 |
          </div>
        </div>
    
        <div class="row">  
          <div style="font-size:16pt;margin-left:10px;">
            <div>平裝本-48K<span style="color:red;"> HY-P48B (藍色)</span></div>
            <div>&emsp; &emsp; &emsp;25K<span style="color:red;"> HY-P25B (紅色、藍色)  </span></div>
            <div>&emsp; &emsp; &emsp;16K<span style="color:red;"> HY-P16B (紅色、藍色)</span></div>
          </div>     
        </div>
    
        <div class="row" style="margin-bottom: 30px;">
            <div>
              <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/2-04_orig.jpg" alt="">
            </div>
        </div> 

        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '69' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48B(紅色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '70' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48B(黑色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '71' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48B(藍色)</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '72' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25B(紅色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '73' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25B(黑色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '74' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25B(藍色)</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '75' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16B(紅色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '76' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16B(黑色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '77' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16B(藍色)</button>
            </form>
          </div>
        </div>

        <hr style="border-width: 3px;border-color: #dddddd;">        
      </div>

      <div>
        <div class="row">
          <div style="font-size:40pt;font-weight: bold;width: 50%;">
            | I. 針車環保皮 |
          </div>
        </div>
    
        <div class="row">  
          <div style="font-size:16pt;margin-left:10px;">
            <div>平裝本-48K<span style="color:red;"> HY-P48I (紅色、綠色)</span></div>
          </div>     
        </div>
    
        <div class="row" style="margin-bottom: 30px;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/05_orig.jpg" alt="">
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <form action="{% url 'add-to-cart' '78' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48I(紅色)</button>
            </form>
          </div>
          <div class="col">
            <form action="{% url 'add-to-cart' '79' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48I(綠色)</button>
            </form>
          </div>
        </div>
        <hr style="border-width: 3px;border-color: #dddddd;">
      </div>

      <div>
        <div class="row">
          <div style="font-size:40pt;font-weight: bold;width: 50%;">
            | S.學院風針車皮 | 
          </div>
        </div>
    
        <div class="row">  
          <div style="font-size:16pt;margin-left:10px;">
            <div>平裝本-48K<span style="color:red;"> HY-P48S (焦糖色、大象灰)</span></div>
          </div>     
        </div>
    
        <div class="row" style="margin-bottom: 30px;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/1_orig.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <form action="{% url 'add-to-cart' '80' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48S(焦糖色)</button>
            </form>
          </div>
          <div class="col-6">
            <form action="{% url 'add-to-cart' '81' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P48S(大象灰) </button>
            </form>
          </div>
        </div>
      </div>

      <div>
        <div class="row">  
          <div style="font-size:16pt;margin-left:10px;">
            <div>平裝本-25K、16K<span style="color:red;"> (焦糖色、大象灰)</span></div>
          </div>     
        </div>
    
        <div class="row" style="margin-bottom: 30px;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/02_orig.jpg" alt="">
          </div>
        </div>
        
        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '82' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25S(大象灰)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '83' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25S(英國藍)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '84' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25S(焦糖色)</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '85' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16S(大象灰)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '86' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16S(英國藍)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '87' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16S(焦糖色)</button>
            </form>
          </div>
        </div>
        <hr style="border-width: 3px;border-color: #dddddd;">
      </div>

      <div>
        <div class="row">
          <div style="font-size:40pt;font-weight: bold;width: 50%;">
            | H. 時尚雙拼針車皮 |
          </div>
        </div>
    
        <div class="row">  
          <div style="font-size:16pt;margin-left:10px;">
            <div>平裝本-25K<span style="color:red;"> HY-P25H (藍色、咖啡色、灰色)</span></div>
            <div>&emsp; &emsp; &emsp; 16K<span style="color:red;"> HY-P16H (藍色、咖啡色、灰色)</span></div>
          </div>     
        </div>

        <div class="row" style="margin-bottom: 30px;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/06_orig.jpg" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '88' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25H(藍色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '89' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25H(咖啡色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '90' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P25H(灰色)</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <form action="{% url 'add-to-cart' '91' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16H(藍色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '92' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16H(咖啡色)</button>
            </form>
          </div>
          <div class="col-4">
            <form action="{% url 'add-to-cart' '93' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">HY-P16H(灰色)</button>
            </form>
          </div>
        </div>

        <hr style="border-width: 3px;border-color: #dddddd;">
      </div>

    </div> 

  </div> 
</div>


{% endblock content %}