{% extends 'base.html' %}
{% load static %}
{% block title %}便條盒區{% endblock title %}

{% block content %}

<div style="display: flex;justify-content: center;align-items: center;">
  <div style="width: 80%;">
    <div>
      
      <div class="row" style="margin-bottom: 30px;">
        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/301-orig_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '82' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/302_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '83' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/published/303-orig.jpg?1691458584" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '84' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/304_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '85' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>
      </div>
      <hr style="border-width: 3px;border-color: #dddddd;">

      <div class="row" style="margin-bottom: 30px;">
        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/306_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '86' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/318-orig_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '87' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/317-orig_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '88' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/307_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '89' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>
      </div>
      <hr style="border-width: 3px;border-color: #dddddd;">

      <div class="row" style="margin-bottom: 30px;">
        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/316-o-orig-1_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '90' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/316-o-orig-2_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '91' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/333-or-orig_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '92' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/314_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '93' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>
      </div>
      <hr style="border-width: 3px;border-color: #dddddd;">

      <div class="row" style="margin-bottom: 30px;">
        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/309_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '94' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/310_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '95' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/311_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '96' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/312_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '97' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>
      </div>
      <hr style="border-width: 3px;border-color: #dddddd;">

      <div class="row" style="margin-bottom: 30px;">
        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/308_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '98' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/313_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '99' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/315_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '100' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/321_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '101' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>
      </div>
      <hr style="border-width: 3px;border-color: #dddddd;">

      <div class="row" style="margin-bottom: 30px;">
        <div style="width: 25%;">
          <div>
            <img src="https://2626731.weebly.com/uploads/1/0/9/3/109388399/323_2_orig.jpg" alt="">
          </div>
          <div>
            <form action="{% url 'add-to-cart' '102' %}" method="Post">{% csrf_token %}
              <button style="cursor: pointer; font-size:30pt;margin-top: 20px;margin-left: 20px;" type="submit" class="btn btn-primary">加入購物車</button>
            </form>
          </div>
        </div>

      </div>

    </div> 

  </div>
</div>


{% endblock content %}