{% extends '../base.html' %}
{% load static %}

{% block title %}  {% endblock title %}

{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="page-breadcrumb">
                  <h3>確認購買者訊息</h3>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <div id="paypal-button-container"></div>
              <form id="checkout-form" class="contact-form" novalidate method="POST">
                {% csrf_token %}
                  <div class="row">
                    {% if messages %}
                    <div class="col-lg-12 py-2">
                      {% include '../message.html' %}
                    </div>
                    {% endif %}
                      <div class="col-lg-12 py-2">
                        <input name="first_name" type="text" placeholder="輸入姓氏">
                        <small id="error_first_name" class="text-danger"></small>
                      </div>
                      <div class="col-lg-12 py-2">
                        <input name="last_name" type="text" placeholder="輸入名字">
                        <small id="error_last_name" class="text-danger"></small>
                      </div>
                      <div class="col-lg-12 py-2">
                        <input name="email" type="email" placeholder="輸入電子郵件">
                        <small id="error_email" class="text-danger"></small>
                      </div>
                      <div class="col-lg-12 py-2">
                        <input name="city" type="text" placeholder="輸入所在城市">
                        <small id="error_city" class="text-danger"></small>
                      </div>
                      <div class="col-lg-12 py-2">
                        <input name="zip_code" type="text" placeholder="輸入郵遞區號">
                        <small id="error_zip_code" class="text-danger"></small>
                      </div>
                      <div class="col-lg-12 py-2">
                        <input name="address" type="text" placeholder="輸入寄件送達地點">
                        <small id="error_address" class="text-danger"></small>
                      </div>
                      <div class="col-lg-12 text-right">
                          <button class="btn-block" type="submit">確認</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Contact Section End -->
{% endblock content %}

{% block extra_scripts %}
<script src="https://www.paypal.com/sdk/js?client-id=AQ_Z8EfrHtGKaVwXTSFy4TyIVSpmlzN8VIFHybK9QPT4U6_6wgvBMm1hwUSofgGHlywcouJxwzu_R_Mv&currency=USD"></script>
<script>

  const form =document.getElementById('checkout-form')
  const csrfmiddlewaretoken = document.querySelector('[name=csrfmiddlewaretoken').value
  let formIsValid = false

  const validateFormAndCheckout = () => {
    const url = '/checkout/'
    fetch(url, {
      method: "POST",
      headers: {
        'X-CSRFToken': csrfmiddlewaretoken
      },
      body: new FormData(form)
    })
    .then(response => {
      return response.json()
    })
    .then(data => {
      if(data.success) {
        formIsValid = true
        new FormData(form).forEach((value, key) => {
          if(key != 'csrfmiddlewaretoken'){
            document.getElementById(`error_${key}`).innerText = ""
          }
        })
        console.log('valid')
      } else {
        let errors = data.errors
        formIsValid = false
        new FormData(form).forEach((value, key) => {
          if(key != 'csrfmiddlewaretoken'){
            document.getElementById(`error_${key}`).innerText = ""
          }
        })
        Object.keys(errors).forEach(key => {
          if(key != 'csrfmiddlewaretoken'){
            document.getElementById(`error_${key}`).innerHTML = errors[key].join('')
          }
        })
        console.log('invalid')
      }
    })
    .catch(error => {
      console.log(error)
    })
  }
  form.addEventListener('submit',(event) => {
    event.preventDefault()
    validateFormAndCheckout()
  })

  paypal.Buttons({
        // Order is created on the server and the order id is returned
        createOrder() {
          return fetch("/my-server/create-paypal-order", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            // use the "body" param to optionally pass additional order information
            // like product skus and quantities
            body: JSON.stringify({
              cart: [
                {
                  sku: "YOUR_PRODUCT_STOCK_KEEPING_UNIT",
                  quantity: "YOUR_PRODUCT_QUANTITY",
                },
              ],
            }),
          })
          .then((response) => response.json())
          .then((order) => order.id);
        },
        // Finalize the transaction on the server after payer approval
        onApprove(data) {
          return fetch("/my-server/capture-paypal-order", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              orderID: data.orderID
            })
          })
          .then((response) => response.json())
          .then((orderData) => {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  window.location.href = 'thank_you.html';
          });
        }
      }).render('#paypal-button-container');
</script>
{% endblock extra_scripts %}